/* base styels */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lato";
  color: white;
}
body {
  background: rgb(224, 157, 227);
  background: -moz-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09de3",endColorstr="#9a00ff",GradientType=1);
}
header {
  display: flex;
}
p {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* layout styles */
.navbar > li {
  list-style: none;
}
.nav-contact, .home {
  color: hotpink;
  padding: 1em;
}
.navbar li:hover {
  background-color: blue;
}
.heading-title  {
  text-shadow: 2px 2px;
  align-items: center;
  color: blue;
  font-size: 8rem;
}
/* blocks */
.header {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 0 30px;
  max-width: 1200px;
  margin-bottom: 1em;
}
.navbar {
  background: lightblue;
  position: fixed;
  font-family: "Lato";
  font-weight: 700;
}
.about-container {
  margin-top: 100px;
}