/* base styels */
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "lato";
  color: white;
  background: rgb(224, 157, 227);
  background: -moz-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09de3",endColorstr="#9a00ff",GradientType=1);
}
p {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* layout styles */
.navbar-item > li {
  list-style: none;
}
.navbar-item {
  color: white;
}
.navbar-item li:hover {
  background-color: blue;
}
.heading-title {
  text-shadow: 2px 2px;
  align-items: center;
  color: blue;
  font-size: 4rem;
}
/* blocks */
.header {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 0 30px;
  max-width: 1200px;
  margin-bottom: 1em;
}
.navbar-container {
  display: flex;
  width: 100%;
}
.navbar-list {
  background: lightblue;
  position: fixed;
  font-family: "Lato";
  font-weight: 700;
}
.about-container {
  margin-top: 100px;
}
@media screen and (min-width: 550px) {
  body {
    display: flex;
  }
  .heading-title {
    font-size: 8rem;
  }
}
@media screen and (min-width: 1000px) {
  body {
    display: flex;
  }
  .heading-title {
    font-size: 8rem;
  }
}
