/* base styles */
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "lato";
  color: white;
  background: rgb(224, 157, 227);
  background: -moz-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09de3",endColorstr="#9a00ff",GradientType=1);
}
p {
  display: flex;
  margin-top: 1em;
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/* layout styles */
.navbar-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.navbar-item > li {
  list-style: none;
}
.navbar-item {
  color: fuchsia;
}
.navbar-item li:hover {
  background-color: blue;
}
.heading-title {
  color: blue;
  font-size: 4rem;
}
/* blocks */
.navbar-container {
  position: fixed;
  width: 100%;
}
.navbar-list {
  background: lightblue;
  font-family: "Lato";
  font-weight: 700;
}
.about-container {
  margin-top: 200px;
}
/* Tablet styles */
@media screen and (min-width: 550px) {
  body {
    display: flex;
  }
  .heading-title {
    font-size: 8rem;
  }
}
/* Desktop styles */
@media screen and (min-width: 1000px) {
  body {
    display: flex;
  }
  .heading-title {
    font-size: 8rem;
  }
}
