* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Oswald", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
}

body {
  background: rgb(224, 157, 227);
  background: -moz-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09de3",endColorstr="#00dbff",GradientType=1);
}

h2 {
  color: blue;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 5rem;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  font-family: "Lato";
  text-align: center;
  animation: mymove 5s infinite;
}



