@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Oswald", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
}

body {
  font-family: "Lato";
  background-color: skyblue;
}

.container {
  background-color: blue;
  -webkit-box-shadow: 10px 18px 20px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 18px 20px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 19px 18px 20px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  display: -webkit-inline-flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 230px;
  margin-right: 195px;
  margin-bottom: 200px;
 

}

select {
  appearance: none;
  -webkit-appearance: none;
}

.contact {
  width: 100%;
  margin: 0 auto;
  background-color: lightskyblue;
  display: inline-block;
  justify-content: center;
  padding: 1rem;
}
button {
  background-color: fuchsia;
  border: 1px dotted white;
  border-radius: 25px;
  padding: 0.3rem;
  margin: 2.5rem;
  width: 8rem;
  margin: inherit;

}

.pic {
  width: 650px;
  border: 40px groove fuchsia;
}

h1 {
  color: white;
  display: inline;
  justify-content: space-evenly;
}

h3 {
  color: blue;
}

input,.label {
  padding: 1rem;
  width: 90%;
}
