@keyframes mymove {
  30% {
    text-indent: 300px;
  }
}

.jassy-title {
  width: 100%;
  font-family: cursive;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  

}

.bio-pic {
  display: flex;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 0px;
  text-indent: -4px;
  align-items: flex-start;
}

.logo {
  background-color: fuchsia;
  width: 150px;
  height: 75px;
  margin: 40px;
  border: 5px solid white;
  display: block;
}

.navbar {
  background: rgb(224, 157, 227);
  background: -moz-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(154, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09de3",endColorstr="#9a00ff",GradientType=1);
  width: 100%;
  display: flex;
}

.navbar li {
  list-style-type: none;
}

.navbar li:hover {
  background-color: skyblue;
}

.footer {
  border-style: dotted;
  border-radius: 50px;
  font-size: 20px;
  font-style: "Lato";
  background-color: ghostwhite;
  color: fuchsia;
  width: 100%;
  padding: 10px;
}

.btn {
  border: 2px solid black;
  background-color: fuchsia;
  border-color: white;
  box-shadow: 1px 1px 10px 10px rgba(224, 157, 227, 1);
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-size: x-large;
  border-radius: 30px;
  border-style: dotted;
  margin: 0 auto;
}

.talent-list {
  display: flex;
  flex-direction: row;
}

.podcast-p p {
  background-color: fuchsia;
  border-radius: 40px;
  margin: 10px;
  padding: 40px;
  text-indent: 50px;
  text-align: left;
}

.to-listen {
  display: flex;
  flex-direction: column;
}

.painting-pics {
  background-color: fuchsia;
  border-radius: 40px;
  margin: 10px;
  padding: 40px;
}

#drawing {
  font-family: "Lato"; /*  need to center */
}

.rebel-video {
  border: white solid 5px;
  border-style: ridge;
  border-width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.theatre-images {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-flow: column;
}

img {
  width: 400px;
  border-style: ridge;
  border-width: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Lato";
  font-size: 100px;
  color: white;
  box-shadow: 3px 7px white;
  width: 100%;
}

p.bio {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: white;
  background-color: fuchsia;
  border-radius: 20px;
  text-align: left;
  text-indent: 50px;
  width: 100%;
  margin-right: 50px;
}

ul {
  display: flex;
  padding: 30px;
  margin: 1em;
}

a {
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-inline-flex;
  flex-direction: column;
  padding: 0.15em;
}

button {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  border-color: fuchsia;
  border-style: solid;
}

h2 {
  color: blue;
  font-weight: 900;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-family: "Lato";
  text-align: center;
  animation: mymove 5s infinite;
}

h3 {
  font-size: 70px;
  color: lightblue;
}

p {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
  border-style: dotted;
  text-align: center;
}

/*Tablet---------------------->*/
@media (min-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

/*Desktop---------------------->*/
@media (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
  }

  .bio {
    margin: 2em;
    width: auto;
  }

  .talent-list {
    margin: 10em;
  }
}
