/* Global styles */
* {
  box-sizing: border-box;
}
body {
  background: rgb(224, 157, 227);
  background: -moz-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09de3",endColorstr="#00dbff",GradientType=1);
}
body,
html {
  display: grid;
  margin: 0;
  padding: 0;
}
@keyframes mymove {
  50% {
    text-indent: 100px;
  }
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Oswald", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
}
h1 {
  font-family: "Lato";
  font-size: 5rem;
  color: white;
}
h2 {
  justify-content: center;
  color: blue;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 5rem;
  display: flex;
  font-family: "Lato";
  text-align: center;
}
p {
  line-height: 1.5;
  background-color: fuchsia;
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: fantasy;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
img {
  width: 100%;
}
/* base styles */
.navbar-container {
  display: flex;
  background: rgb(224, 157, 227);
  background: -moz-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09de3",endColorstr="#00dbff",GradientType=1);
  width: 100%;
  position: fixed;
  font-family: "Lato";
  font-weight: 700;
  list-style: none;
}
.my-skills-section {
  display: grid;
}
/* layout styles */
.navbar-list {
  width: 100%;
  padding: 15px;
}
.navbar-item {
  font-size: 30px;
  text-decoration: none;
}
.navbar-item li:hover {
  background-color: skyblue;
}
.hero-title {
  width: 100%;
  text-align: center;
  font-family: cursive;
  font-size: 100px;
  padding-top: 50px;
}
.logo {
  background-color: fuchsia;
  width: 100%;
  border: 5px solid white;
}
.btn {
  background-color: fuchsia;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-size: x-large;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bio-pic > img {
  width: 100%;
  height: auto;
  border-radius: 20%;
  box-shadow: 10px 8px 10px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bio-title {
  justify-content: center;
}
.bio-description {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  width: 100%;
}
#theatre,
#painting {
  justify-self: center;
}
.podcast-description {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.residency-description,
.bio-description {
  background-color: fuchsia;
  border-radius: 40px;
  font-size: 20px;
  width: 100%;
}
.rebel-video {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  height: 500px;
}
.to-listen {
  animation-name: myname;
  animation-duration: 4s;
}
.footer {
  display: grid;
  justify-content: center;
  border-style: dotted;
  border-radius: 50px;
  font-size: 20px;
  font-style: "Lato";
  background-color: ghostwhite;
  color: fuchsia;
  width: 100%;
}
/*Tablet---------------------->*/
@media (min-width: 700px) {
  .navbar-list {
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
  }
}
/*Desktop---------------------->*/
@media (min-width: 900px) {
  .navbar-list {
    width: 100%;
    font-size: 20px;
  }
  .rebel-video {
    max-height: 500px;
  }
  .footer {
    justify-content: center;
  }
}
