/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(224, 157, 227);
  background: -moz-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(224, 157, 227, 1) 36%,
    rgba(0, 219, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09de3",endColorstr="#00dbff",GradientType=1);
}
/* Global styles */
@keyframes mymove {
  50% {
    text-indent: 170px;
  }
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
  font-family: "Oswald", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&display=swap");
}
h2 {
  color: blue;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 5rem;
  display: flex;
  margin-left: 16px;
  font-family: "Lato";
  text-align: center;
  animation: mymove 5s infinite;
}
.container {
  margin: 5rem; 
}
p {
  line-height: 1.5;
  background-color: fuchsia;
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: fantasy;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
h1 {
  font-family: "Lato";
  font-size: 5rem;
  color: white;
}
img {
  width: 100%;
}
/* base styles */
.navbar-list {
  background: lightblue;
  position: flex;
  font-family: "Lato";
  font-weight: 700;
  list-style: none;
}
.my-skills-section {
  display: grid;
}
/* layout styles */
.navbar-item li:hover {
  background-color: skyblue;
}
.hero-title {
  width: 100%;
  font-family: cursive;
  font-size: 100px;
  align-content: center;
  margin-top: 18rem;
}
.logo {
  background-color: fuchsia;
  width: 150px;
  border: 5px solid white;
}
.btn {
  background-color: fuchsia;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-size: x-large;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bio-description {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  width: 100%; 
}
.podcast-description {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  width: 100%; 
}
.residency-description,.bio-description {
  background-color: fuchsia;
  border-radius: 40px;
  margin: 50px;
  padding: 1em;
  font-size: 20px;
  width: 100%;  
}
.rebel-video {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  height: 500px;
}
.to-listen {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 3rem;
  animation-name: myname;
  animation-duration: 4s;
}
.footer {
  border-style: dotted;
  border-radius: 50px;
  font-size: 20px;
  font-style: "Lato";
  background-color: ghostwhite;
  color: fuchsia;
  width: 100%;
  padding: 10px;
}
.bio-pic > img {
  width: 250px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 8px 10px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-inline-flex;
  flex-direction: column;
  padding: 0.15em;
}
/*Tablet---------------------->*/
@media (min-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .hero-container {
    display: grid;
    width: 100%;
  }
}
/*Desktop---------------------->*/
@media (min-width: 900px) {
  body {
    display: flex;
    margin: 16px;
  }
  .navbar-list> li {
    display: flex;
    list-style: none;
  }
  .hero-container {
    display: grid;
    flex-direction: row;
  }
  .rebel-video {
    max-height: 500px;
  }
}
