body {
  background-color: midnightblue;
}

h1 {
  font-family: fantasy;
  font-style: normal;
  text-decoration-color: white;
  text-shadow: pink;
  font-size: 100px;
  color: white;
}

h2 {
  font-family: fantasy;
  font-style: normal;
  color: lightblue;
  font-weight: bold;
  font-size: 80px;
}

h3 {
    font-family: fantasy;
    font-size: 70px;
    color:red;
}

p {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
}
 img {
     width: 450px;
 }